{% extends "mainapp/base.html" %}

{% block content %}

	<h1>Other Members</h1>
  <h4>Find other members with similar hobbies to you.</h4><br>
	<form> 
		Filter by - Gender: 
		<select class="fgender" value=1>
			<option value="0">Select</option>
			<option value="male">Male</option>
			<option value="female">Female</option>
		</select>

		Age: 
		<select value=1>  
			<option value="0">Select</option>
			<option value="1">18-29</option>
			<option value="2">30-50</option>
			<option value="3">51+</option>
		</select>

		<button type='submit' class="btn btn-primary">Filter</button>
	</form>

	<ul>
	{% for user in users %}
		<li>
			<a href="{% url 'profile_with_pk' pk=user.pk %}" >{{ user }}</a>
		</li>
	{% endfor %}
	</ul>

{% endblock %}
